# Variables d'environnement et secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt

# Spark
spark-warehouse/
metastore_db/
derby.log

# Données locales
data/source/*
data/samples/*
!data/source/.gitkeep
!data/samples/.gitkeep

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Fichiers temporaires
*.log
*.tmp
*.bak

# Sauvegardes locales Docker
docker-compose.*.backup.yml
